@using CustomHTMLHelpers.CustomHelpers
@model MovieReview.Model.MovieViewModel

<div class="jumbotron">
    <h1>Movie Review</h1>
    <p class="lead">Movie Review Single Page App built using tons of client/server side stuffs.</p>
    <p><a href="http://myview.rahulnivi.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- ** BEGIN SEARCH AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Search for Movies</h1>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(m => m.MovieName, "Movie Name")
            @Html.TextBoxFor(m => m.MovieName,
                           new { @class = "form-control" })
        </div>
    </div>
    <div class="panel-footer">
        @Html.BootstrapButton("<i class='glyphicon glyphicon-search'></i>&nbsp;Search",
                              "btn-sm btn-primary",
                              "searchButton",
                              "Click here to search",
                              false,
                              false,
                              HTMLCommonExtensions.HTMLButtonTypes.submit,
                              "search")

        <button id="btnReset"
                class="btn btn-sm btn-primary"
                data-pdsa-action="resetsearch">
            <i class="glyphicon glyphicon-share-alt"></i>&nbsp;Reset
        </button>
        <button id="btnAdd"
                class="btn btn-sm btn-success"
                data-pdsa-action="add">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;Add
        </button>
    </div>
</div>
<!-- ** END SEARCH AREA ** -->
<div id="loader" style="display: none">
    <i class="fa fa-spinner fa-fw fa-spin fa-2x"> </i> Getting Movies
</div>
<div ng-controller="homeIndexController">
    No Of Movies:- {{data.length}}
</div>
<!-- BEGIN GRID AREA -->
<div class="table-responsive" ng-controller="homeIndexController">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="movie-review-action-button-column">
                    Edit
                </th>
                <th>Movie Name</th>
                <th>Director Name</th>
                <th>Release Year</th>
                <th>Reviews</th>
                <th class="movie-review-action-button-column">
                    Delete
                </th>
            </tr>
        </thead>

        <tbody>
        <tr ng-repeat="i in data" class="repeat-animation">
            <td class="movie-review-action-button-column">
                <a href="#" data-movie-review-action="edit"
                   data-movie-review-val="i.Id"
                   class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>{{i.MovieName}}</td>
            <td>{{i.DirectorName}}</td>
            <td>{{i.ReleaseYear}}</td>
            <td>{{i.NoOfReviews}}</td>

            <td class="movie-review-action-button-column">
                <a href="#" data-movie-review-action="delete"
                   data-movie-review-val="i.Id"
                   onclick="return confirm('Delete this Movie?');"
                   class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- END GRID AREA -->

@*@section scripts
{
    <script src="~/JS/homeindex.js"></script>
}*@

@section scripts {

    <script>
    $(document).ready(function () {
      $("[data-movie-review-action]").on("click", function (e) {
        e.preventDefault();

        $("#EventCommand").val(
          $(this).data("movie-review-action"));

        $("#EventArgument").val(
          $(this).attr("data-movie-review-val"));

        $("form").submit();
      });
    });
    </script>
}



